root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
charset = utf-8
indent_style = tab
indent_size = 4
# ktlint configuration
ktlint_code_style = android_studio
ktlint_experimental = enabled
ktlint_standard_function-naming = disabled
ktlint_standard_property-naming = disabled
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

[*.md]
trim_trailing_whitespace = false
