name: Verify Pull Request

on: [ pull_request, workflow_dispatch ]

jobs:
  check:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          show-progress: false

      - uses: ./.github/actions/gradle-cache

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Check app
        run: ./gradlew check

  test:
    timeout-minutes: 30
    runs-on: macos-15-intel
    strategy:
      matrix:
        api-level: [ 21, 29 ]
    steps:
      - uses: actions/checkout@v5
        with:
          show-progress: false

      - uses: ./.github/actions/gradle-cache

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: Run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          script: ./gradlew connectedAndroidTest
